@use '../../../theme' as *;

.offerThumbnailWrapper {
  display: grid;
  gap: 4rem;
  grid-template-rows: 3rem 4rem 1fr;
  justify-items: stretch;
  text-align: center;

  padding: 5rem;
  background-color: $white;
  @include boxShadow;

  h3 {
    color: $primary;
    font-size: $xl;
    font-weight: 500;
  }

  p {
    text-align: left;
  }
}
